p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', cursive;
}
