.current_page {
  &::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--underline_color);

    display: inherit;
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}
