<footer class="footer">
    <div class="container footer__container">
        <div></div>
        <p class="footer__first-content">© 2020 | All Rights Reserved |
            </p>
        <svg class="footer__icon" width="14" heigth="13">
            <use href="./images/symbol-defs.svg#icon-Vector-2-1">
            </use>
        </svg>
        <p class="footer__second-content">by</p>
        <p class="footer__third-content">
            <a href="" data-modal-open class="footer__third-content-link">GoIT
                Students</a>
        </p>
    </div>

</footer>

<div class="backdrop is-hiden" data-modal>
    <div class="modal">
        <button class="modal-icon" type="button" data-modal-close>
            <svg class="modal-icon__svg" width="18" height="18">
                <use class="modal-icon__use"
                    href="./images/symbol-defs.svg#icon-close2">
                </use>
            </svg>
        </button>

        <p class="modal__title">OUR TEAM</p>

        <ul class="gallery-list">
            <li class="gallery-item">
                <img src="./images/foto.jpg/OlenaIzotova.jpg" alt="OlenaIzotova" class="gallery-img">
                <p class="gallery-text">Olena<br>Izotova</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/VitalyIvanov.jpg" alt="VitalyIvanov"
                    class="gallery-img">
                <p class="gallery-text">Vitaly<br>Ivanov</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/VitalyKablukov.jpg" alt="VitalyKablukov"
                    class="gallery-img">
                <p class="gallery-text">Vitaly Kablukov</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/VladОlevskiy.jpg" alt="VladОlevskiy"
                    class="gallery-img">
                <p class="gallery-text">Vlad<br>Оlevskiy</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/MarynaPokhyliuk.jpg" alt="MarynaPokhyliuk"
                    class="gallery-img">
                <p class="gallery-text">Maryna Pokhyliuk</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/ArtemShnurko.jpg" alt="ArtemShnurko"
                    class="gallery-img">
                <p class="gallery-text">Artem<br>Shnurko</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/AleksandrLebediev.jpg" alt="AleksandrLebediev"
                    class="gallery-img">
                <p class="gallery-text">Aleksandr Lebediev</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/KaterinaOlefir.jpg" alt="KaterinaOlefir"
                    class="gallery-img">
                <p class="gallery-text">Katerina<br>Olefir</p>
            </li>
            <li class="gallery-item">
                <img src="./images/foto.jpg/StanislavPylypeichenko.jpg" alt="StanislavPylypeichenko"
                    class="gallery-img">
                <p class="gallery-text">Stanislav Pylypeichenko</p>
            </li>

        </ul>

    </div>

</div>
<script src="./js/modal.js"></script>