<footer class="footer">
  <div class="container footer__container">
    <div>
      <p class="footer__first-content">© 2022 | All Rights Reserved |</p>
    </div>
    <div class="footer__wrap">
      <p class="footer__first-content footer__first-content-margin">
        &nbsp;Developed with
      </p>
      <svg class="footer__icon" width="14" height="13" viewBox="0 0 14 13">
        <use href="./images/symbol-defs.svg#icon-Vector-2-1"></use>
      </svg>
      <p class="footer__second-content">
        <button type="button" class="footer__button" data-footer-modal-open>
          GoIT Students
        </button>
      </p>
    </div>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="container footer__container">
    <p class="footer__first-content">
      © 2022 | All Rights Reserved | Developed with
    </p>
    <svg class="footer__icon" width="14" heigth="13" viewBox="0 0 14 13">
      <use href="./images/symbol-defs.svg#icon-Vector-2-1"></use>
    </svg>
    <p class="footer__second-content">
      <a href="" class="footer__second-content-link">by GoIT Students</a>
    </p>
  </div>
</footer> -->

<div class="footer-backdrop is-hidden" data-footer-backdrop>
  <div class="footer-modal is-hidden" data-footer-modal>
    <button class="footer-modal-icon" type="button" data-footer-modal-close>
      <svg class="footer-modal-icon__svg" width="18" height="18">
        <use
          class="footer-modal-icon__use"
          href="./images/symbol-defs.svg#icon-close2"
        ></use>
      </svg>
    </button>

    <p class="modal__title"><span class="modal_orange">MY</span>Liberty <span class="modal_orange">GO</span>IT <span class="modal_orange"> Team</span></p>

    <ul class="footer-gallery-list">
      <li class="footer-gallery-item">
        <img
          src="./images/foto/OlenaIzotova.jpg"
          alt="OlenaIzotova"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Olena Izotova</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/VitaliyIvanov.jpg"
          alt="VitalyIvanov"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Vitaly Ivanov</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/VitaliyKablukov.jpg"
          alt="VitalyKablukov"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Vitaly Kablukov</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/VladОlevskiy.jpg"
          alt="VladОlevskiy"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Vlad Оlevskiy</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/MarynaPokhyliuk.jpg"
          alt="MarynaPokhyliuk"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Maryna Pokhyliuk</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/ArtemShnurko.jpg"
          alt="ArtemShnurko"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Artem Shnurko</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/AleksandrLebediev.jpg"
          alt="AleksandrLebediev"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Aleksandr Lebediev</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/KaterinaOlefir.jpg"
          alt="KaterinaOlefir"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Katerina Olefir</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/StanislavPylypeichenko.jpg"
          alt="StanislavPylypeichenko"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Stanislav Pylypeichenko</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/OlenaDidkivska.jpg"
          alt="OlenaDidkivska"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Olena Didkivska</p>
      </li>
      <li class="footer-gallery-item">
        <img
          src="./images/foto/AlexandrDrapoi.jpg"
          alt="AlexandrDrapoi"
          class="footer-gallery-img"
        />
        <p class="footer-gallery-text">Alexandr Drapoi</p>
      </li>
    </ul>
  </div>
</div>
<script type="module" src="./js/modal.js"></script>
