<footer class="footer">
  <div class="container footer__container">
    <div>
      <p class="footer__first-content">© 2022 | All Rights Reserved |</p>
    </div>
    <div class="footer__wrap">
      <p class="footer__first-content footer__first-content-margin">
        &nbsp Developed with
      </p>
      <svg class="footer__icon" width="14" heigth="13" viewBox="0 0 14 13">
        <use href="./images/symbol-defs.svg#icon-Vector-2-1"></use>
      </svg>
      <p class="footer__second-content">
        <a href="" class="footer__second-content-link">by GoIT Students</a>
      </p>
    </div>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="container footer__container">
    <p class="footer__first-content">
      © 2022 | All Rights Reserved | Developed with
    </p>
    <svg class="footer__icon" width="14" heigth="13" viewBox="0 0 14 13">
      <use href="./images/symbol-defs.svg#icon-Vector-2-1"></use>
    </svg>
    <p class="footer__second-content">
      <a href="" class="footer__second-content-link">by GoIT Students</a>
    </p>
  </div>
</footer> -->
