<main>
  <section class="gallery">
    <!--Loader-->
    <div class="container">

      <!--Loader-->
      <div class="justify-content-center cards-loader d-none">

        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="container-gallery">
      
        <h1 class="is-hidden gallery-title">Gallery Movies</h1>
        <ul class="gallery-list grid"></ul>
      </div>
      <div class="pagination">
        <ul class="pagination-list pagination-popular">
        </ul>
      </div>
    </div>
  </section>
</main>
