<main>
  <section class="gallery">
    <div class="container">
      <h1 class="is-hidden gallery-title">Gallery Movies</h1>
      <ul class="gallery-list grid"></ul>
    </div>
    <div class="pagination">
      <button class="btn-pag-left">
        <svg class="btn-icon" width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="pagination-list">
        <li class="pagination-list-item">1</li>
        <li class="pagination-list-item pag-activ">2</li>
        <li class="pagination-list-item">3</li>
        <li class="pagination-list-item">4</li>
        <li class="pagination-list-item">5</li>
        <li class="pagination-list-item">6</li>
      </ul>
      <button class="btn-pag-right">
        <svg class="btn-icon" width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </section>
</main>
