<header class="header">
<div class="container">
  <nav class="nav">
  <a href="./index.html" class="logo-link link"
    ><svg class="logo-icon"><use href="./images/symbol-defs.svg#icon-film"></use></svg><span>Filmoteka</span></a>
    <ul class="header-list list">
        <li class="header-item"><a href="./index.html" class="header-link link current">home</a></li>
        <li class="header-item"><a href="./my-library.html" class="header-link link">my library</a></li>
    </ul>
</div>
<div class="search-box">
    <label for="input-search" class="label-search"></label>
    <span class="input-wrap"><input type="text" name="text" class="search-field" id#input-search placeholder="Movie search" ><button type="submit" class="search-button" disabled data-search-button>
      <svg class="search-icon"><use href="./images/symbol-defs.svg#icon-search"></use></svg></button>
    </span></nav>
  </div>  
</header>