<header class="my-library-header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo__link">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
      </a>
      <ul class="nav__link-list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a
            href="./my-library.html"
            class="nav__link js-library-link current_page"
            >My Library</a
          >
        </li>
      </ul>
      <button
        type="button"
        class="nav__btn js-nav__btn--signIn visually-hidden"
      >
        Sign In
      </button>
      <button type="button" class="nav__btn js-nav__btn--signOut">
        Sign Out
      </button>
    </nav>
    <ul class="buttons-list">
      <li class="buttons-list__item">
        <button type="button" data-id="watched" class="btn btn--colored">
          Watched
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" data-id="queue" class="btn btn--transparent">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
