.gallery {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 59px;
    padding-bottom: 59px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery-title {
  position: absolute;
  color: yellow;
  text-shadow: blue 1px 0 10px;
  font-size: 40px;
  text-align: center;
  padding: 20px 5px 5px;
}

.container-gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__item {
  background-color: inherit;
  color: $text-color-h;
  display: flex;
  flex-direction: column;
//   align-items: center;

  @media screen and (max-width: 767px) {
    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }
}

.grid__link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}

.grid__link:hover,
.grid__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.movie-card__image {
  object-fit: cover;
  display: block;
  width: 280px;
  height: 398px;
  border-radius: 5px;
}

.movie-card__info {
  padding-top: 10px;
  padding-left: 3px;
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  max-width: 280px;
}

.movie-card__title {
  margin: 0;
  color: $text-color-h;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
}

.movie-card__info-item {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  color: $accent-color;
}

@media screen and (min-width: 768px) {
  .movie-card__image {
    width: 336px;
    height: 455px;
  }

  .movie-card__info {
    max-width: 336px;
  }

  .movie-card__title {
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__image {
    width: 395px;
    height: 574px;
  }

  .movie-card__info {
    max-width: 395px;
  }

  .movie-card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .movie-card__info-item {
    font-size: 20px;
    line-height: 1.2;
  }
}

/*--------------pagination--------------------*/
.pagination {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.btn-pag-left,
.btn-pag-right {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
}

.pagination-list {
  color: #000000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.pagination-list-item {
  width: 40px;
  height: 40px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pag-left,
.btn-pag-right {
  background-color: #cccccc;
}

.pag-activ {
  background-color: $accent-color;
  color: #fff;
}

.pagination-list-item:hover,
.pagination-list-item:focus,
.btn-pag-left:hover,
.btn-pag-right:hover,
.btn-pag-left:focus,
.btn-pag-right:focus {
  background-color: $accent-color;
  color: #fff;
}
.threepoint {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  color: #000000;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .pagination {
    margin: 40px 0 20px;
  }

  .pagination-list-item {
    width: 30px;
    height: 30px;
  }
  .threepoint {
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .grid__item {
    &:nth-child(2n + 1) {
      margin-right: 32px;
    }

    &:nth-child(n + 3) {
      margin-top: 32px;
    }
  }

  .movie-card__info {
    padding-top: 8px;
  }

  .pagination {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .grid__item {
    margin-right: 15px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 32px;
    }
  }

  .movie-card__info {
    padding-top: 12px;
    font-size: 20px;
    line-height: 1.2;
  }

  .pagination {
    margin-top: 60px;
  }

  .container-gallery {
    max-width: 1280px;
  }
}
.ukraine {
  background-image: url('/src/images/ukraine.svg');
  width: 100%;
  height: calc(100vh - 290px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
