.my-library-header {
  min-width: 320px;

  padding-top: 40px;
  padding-bottom: 92px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/my_library_header_bg_mob_1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/my_library_header_bg_mob_2x.jpg);
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/my_library_header_bg_tab_1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/my_library_header_bg_tab_2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/my_library_header_bg_1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/my_library_header_bg_2x.jpg);
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.logo__link {
  max-height: 24px;
  display: flex;
  align-items: center;

  margin-right: auto;

  &::after {
    content: 'Filmoteka';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.166;

    color: var(--header_text_color);
    margin-left: 10px;

    @media screen and (max-width: 767px) {
      content: '';
    }
  }
}

.nav__link-list {
  display: flex;
}

.nav__item {
  display: flex;

  &:nth-child(n + 2) {
    margin-left: 39px;
  }
}

.nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  text-transform: uppercase;

  color: var(--header_text_color);

  position: relative;
}

.nav__btn {
  border: none;
  background-color: transparent;
  color: var(--header_text_color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  text-transform: uppercase;

  padding-left: 0;
  padding-right: 0;

  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.buttons-list {
  display: flex;
  justify-content: center;
}

.buttons-list__item {
  &:nth-child(n + 2) {
    margin-left: 20px;

    @media screen and (min-width: 768px) {
      margin-left: 32px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 16px;
    }
  }
}

.btn {
  width: 130px;
  height: 44px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  color: var(--header_text_color);

  border-radius: 6px;
  cursor: pointer;
}

.btn--colored {
  border: none;
  background-color: var(--btn--colored);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.btn--transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}
