.header {
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: red;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/home_header_bg_mob_1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/home_header_bg_mob_2x.jpg');
  }

  @media screen and(min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/home_header_bg_tab_1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/home_header_bg_tab_2x.jpg');
    }
  }
  @media screen and(min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/home_header_bg_1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/home_header_bg_2x.jpg');
    }
  }
}

.nav {
  display: flex;
  align-items: center;

  max-height: 24px;
  margin-bottom: 0;
}

// input--------------------
.search-box {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.input-wrap {
  width: 100%;
  position: relative;
  @media screen and(min-width: 320px) {
    max-width: 280px;
  }

  @media screen and(min-width: 768px) {
    max-width: 330px;
  }
  @media screen and(min-width: 1280px) {
    max-width: 400px;
  }
}

.search-field {
  font-size: 14px;
  line-height: 1.14;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid white;
  outline: none;
  margin-bottom: 16px;
  &::placeholder {
    color: #ffffff;
  }

  @media screen and(min-width: 768px) {
    margin-bottom: 20px;
  }
}

.search-button {
  width: 18px;
  height: 18px;
  right: 0%;
  top: 10%;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
}

// --------------------

.header-list {
  display: flex;
  margin-left: auto;
}

.header-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &:nth-child(n + 2) {
    margin-left: 40px;
  }
}

.header-link {
  position: relative;
  color: #ffffff;
  line-height: 1.17;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-link > span {
  display: none;
  max-height: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }
}

.logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .logo-icon {
    margin-right: 10px;
  }
}

.header-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  background: #ff001b;
  bottom: -2px;
}

.search-box-notification {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  display: block;
  color: #ff001b;
  position: absolute;
  z-index: 999;
  bottom: -30px;
  max-width: 280px;

  // top: 0px;

  @media screen and(min-width: 768px) {
    bottom: -10px;
    max-width: 394px;
  }
  @media screen and(min-width: 1280px) {
  }
}

.nav__btn {
  margin-left: 40px;
  cursor: pointer;
}
